<h2> Survey All </h2>
<table>
  <tr>
    <td>Title</td> 
    <td>Username</td> 
    <td>Created at</td> 
    <td>Vote Count</td> 
  </tr>
<% @surveys.each do |survey| %>
    <tr>
      <td><a href="/survey/<%= survey.id %>"><%= survey.title %></a></td>
      <td><a href="/user/<%= survey.user_id %>"> <%= survey.user_id %> </td>
      <td><%= survey.created_at.strftime('%m/%d/%Y') %></td>
      <td id="vote_count"><%= survey.votes.count %></td>
    </tr>
<% end %>
</table>