<h1>Take this Survey</h1>
    
<h2><%= @survey.title %></h2>
<h4><%= @question.text %></h4>
<form method="post" action="/submit-survey">

<% @choices.each do |choice| %>
  <label for="<%=choice.id%>"><%= choice.text %></label>
  <input type="radio" value="<%=choice.id%>" name="choice"> 
<% end %>
<input type="submit" value="Vote">
</form>
